@model IEnumerable<LojaVirtual.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<main role="main">
    @foreach (var item in Model)
    {

        <div class="container" id="code_prod_complex">
            <div class="row">
                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap">@Html.DisplayFor(modelItem => item.Imagem) </div>
                        <figcaption class="info-wrap">
                            <h4 class="title">@Html.DisplayFor(modelItem => item.Nome)</h4>
                            <p class="desc">@Html.DisplayFor(modelItem => item.Descricao)</p>
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <div class="label-rating">132 reviews</div>
                                <div class="label-rating">154 orders </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                            <div class="price-wrap h5">
                                <span class="price-new">@Html.DisplayFor(modelItem => item.Valor)</span>
                            </div> 
                        </div> 
                    </figure>
                </div> 
            </div> 
        </div>
    }
</main>